<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjq.logistics.dao.LogisticsMapper">

    <resultMap id="BaseResultMap" type="com.yjq.logistics.pojo.Logistics" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="GOODS_NUMBER" property="goodsNumber" jdbcType="VARCHAR" />
        <result column="GOOODS_ID" property="gooodsId" jdbcType="INTEGER" />
        <result column="FROM_DEPT_ID" property="fromDeptId" jdbcType="INTEGER" />
        <result column="TO_DEPT_ID" property="toDeptId" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="ARRIVE_TIME" property="arriveTime" jdbcType="TIMESTAMP" />
        <result column="DELETED" property="deleted" jdbcType="INTEGER" />
        <result column="STATUS" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
    ID, GOODS_NUMBER, GOOODS_ID, FROM_DEPT_ID, TO_DEPT_ID, CREATE_TIME, ARRIVE_TIME,
    DELETED, STATUS
    </sql>

    <select id="selectLogisticsById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from logistics
        where ID = #{id,jdbcType=INTEGER}
    </select>


    <insert id="insert" parameterType="com.yjq.logistics.pojo.Logistics">
        insert into logistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsNumber != null">
                GOODS_NUMBER,
            </if>
            <if test="gooodsId != null">
                GOOODS_ID,
            </if>
            <if test="fromDeptId != null">
                FROM_DEPT_ID,
            </if>
            <if test="toDeptId != null">
                TO_DEPT_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="arriveTime != null">
                ARRIVE_TIME,
            </if>
            <if test="deleted != null">
                DELETED,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsNumber != null">
                #{goodsNumber,jdbcType=VARCHAR},
            </if>
            <if test="gooodsId != null">
                #{gooodsId,jdbcType=INTEGER},
            </if>
            <if test="fromDeptId != null">
                #{fromDeptId,jdbcType=INTEGER},
            </if>
            <if test="toDeptId != null">
                #{toDeptId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null">
                #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <update id="updateLogistics" parameterType="com.yjq.logistics.pojo.Logistics" >
        update logistics
        <set >
            <if test="goodsNumber != null" >
                GOODS_NUMBER = #{goodsNumber,jdbcType=VARCHAR},
            </if>
            <if test="gooodsId != null" >
                GOOODS_ID = #{gooodsId,jdbcType=INTEGER},
            </if>
            <if test="fromDeptId != null" >
                FROM_DEPT_ID = #{fromDeptId,jdbcType=INTEGER},
            </if>
            <if test="toDeptId != null" >
                TO_DEPT_ID = #{toDeptId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null" >
                ARRIVE_TIME = #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                DELETED = #{deleted,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                STATUS = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>